---
---

@import "{{ site.theme }}";

header h1 {
  font-size: 96px;
}

#downloads {
  display: none;
}

.inner {
  width: 980px; 
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

#main_content h1:first-of-type {
  display:none;
}

  
